## class DataImporter(object)

##### Functionality
Imports an expected format for data into a pandas data frame with an individual row for each reading

##### How it works
Most data is read in as a standard table format
Further details about the measures we are importing are read in from the measures sheet

##### Part 1.
Read in the excel spreadsheet

In [1]:
import pandas as pd
import numpy as np

In [2]:
excel_file = '../data/datasets/unemployment_in_the_labour_market.xlsx'
data_page_categories = ['Race', 'Race_type', 'Location', 'Location_type', 'Income', 'Income_type', 'Gender', 'Age Bracket']
data_page = 'Data'
measures_page = 'Measures'

In [3]:
data = pd.read_excel(io=excel_file, sheetname=data_page).fillna('')
data.head(3)

,Race,Race_type,Location,Location_type,Income,Income_type,Gender,Age Bracket,1993,1994,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,White,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.098,0.089,...,0.048,0.048,0.052,0.07,0.073,0.075,0.073,0.068,0.055,0.048
1,Black,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.275,0.253,...,0.139,0.132,0.134,0.179,0.164,0.196,0.166,0.17,0.154,0.14
2,Mixed or multiple,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.216,0.218,...,0.132,0.116,0.134,0.158,0.141,0.158,0.154,0.148,0.132,0.112

In [4]:
measures = pd.read_excel(io=excel_file, sheetname=measures_page).fillna('')
measures.head(3)

   Code                           Measure  Time Time_type
0  1993  Unemployment in the labour force  1993      Year
1  1994  Unemployment in the labour force  1994      Year
2  1995  Unemployment in the labour force  1995      Year

##### Part 2.
    Build some infrastructure

In [5]:
categories = list(measures) + data_page_categories
categories

['Code',
 'Measure',
 'Time',
 'Time_type',
 'Race',
 'Race_type',
 'Location',
 'Location_type',
 'Income',
 'Income_type',
 'Gender',
 'Age Bracket']

In [6]:
row_count = len(data.index)
full_data = data
for measure_column in list(measures):
    full_data[measure_column] = pd.Series(np.zeros(row_count))
    
full_data.head(3)

,Race,Race_type,Location,Location_type,Income,Income_type,Gender,Age Bracket,1993,1994,...,2010,2011,2012,2013,2014,2015,Code,Measure,Time,Time_type
0,White,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.098,0.089,...,0.073,0.075,0.073,0.068,0.055,0.048,0.0,0.0,0.0,0.0
1,Black,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.275,0.253,...,0.164,0.196,0.166,0.17,0.154,0.14,0.0,0.0,0.0,0.0
2,Mixed or multiple,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.216,0.218,...,0.141,0.158,0.154,0.148,0.132,0.112,0.0,0.0,0.0,0.0

In [7]:
results = pd.DataFrame(columns = categories + ['Value'])
results

Empty DataFrame
Columns: [Code, Measure, Time, Time_type, Race, Race_type, Location, Location_type, Income, Income_type, Gender, Age Bracket, Value]
Index: []

In [8]:

for index, measure_row in measures.iterrows():
        tmp_data = full_data
        for measure_column in list(measures):
            tmp_data[measure_column] = str(measure_row[measure_column])

        if measure_row['Code'] in tmp_data:
            tmp_columns = categories + [measure_row['Code']]

            tmp_results = tmp_data[tmp_columns]
            tmp_results.columns = categories + ['Value']
            results = results.append(tmp_results)
    
results.head(5)

,Code,Measure,Time,Time_type,Race,Race_type,Location,Location_type,Income,Income_type,Gender,Age Bracket,Value
0,1993,Unemployment in the labour force,1993,Year,White,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.098
1,1993,Unemployment in the labour force,1993,Year,Black,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.275
2,1993,Unemployment in the labour force,1993,Year,Mixed or multiple,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.216
3,1993,Unemployment in the labour force,1993,Year,Indian,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.141
4,1993,Unemployment in the labour force,1993,Year,Pakistani/Bangladeshi,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.321

In [9]:
from factories.DataFrameImporter import DataFrameImporter

In [10]:
importer = DataFrameImporter()

education_excel_file = '../data/datasets/education_ks4_attainment.xlsx'
education_data_page_categories = ['Race', 'Race_type', 'Location', 'Location_type', 'Income', 'Income_type', 'Time', 'Time_type']

dataframe = importer.import_data_frame(education_excel_file, education_data_page_categories)

In [11]:
dataframe.to_csv('../data/education.csv')

In [12]:
help(importer.import_data_frame)

Help on method import_data_frame in module factories.DataFrameImporter:

import_data_frame(excel_file:str, data_page_categories=[], data_page='Data', measures_page='Measures') -> pandas.core.frame.DataFrame method of factories.DataFrameImporter.DataFrameImporter instance
    :param excel_file: path to an excel file
    :param data_page_category_columns: the category columns to be taken out of the data sheet
    :param data_page: the name of the data page in the excel workbook
    :param measures_page: the name of the measures page in the excel workbook
    :return: a pd dataframe of form [measure_code, measure_categories ..., data_categories ..., measure_value]

In [13]:
import json

In [18]:
json.load(fp = 'client_secret.json')

AttributeError: 'str' object has no attribute 'read'

In [19]:
with open('client_secret.json') as data_file:    
    data = json.load(data_file)
    
data

{'installed': {'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
  'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
  'client_id': '232946787511-b4u3vsi7ladn0reocapvdmfkj2s8dq5b.apps.googleusercontent.com',
  'client_secret': '9XFY75donquvU5ptJPlDA2ko',
  'project_id': 'genial-caster-161415',
  'redirect_uris': ['urn:ietf:wg:oauth:2.0:oob', 'http://localhost'],
  'token_uri': 'https://accounts.google.com/o/oauth2/token'}}